{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class='container login-box'>
        <form method="post">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
            <div class='login-btn'>
                <input class='btn btn-lg btn-dark login-btn-text' type="submit" value="Login">            
            </div>
            <div class='container login-forgot'>
                <a class='login-forgot-text' href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
            </div>
        </form>
    </div>

{% endblock content %}