{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}
    <div class='container password-form-box'>
        <p class='password-form-title'>Update your password</p>
        <p class='password-form-subtitle'>Throw below that big hairy new password of yours!</p>
        <form method="post">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
            <div class='password-form-btn'>
                <input class='btn btn-lg btn-dark password-form-btn-text' type="submit" value="Save">            
            </div>
        </form>
    </div>
{% endblock content %}