{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}
    {% if validlink %}
        <h1>Set your new password</h1>
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" value="Send me instructions!">
                </form>          
            </div>
    {% else %}
        <h1>Invalid token</h1>
        <a href="{% url 'accounts:password_reset' %}">Request a new password reset token</a>
    {% endif %}
{% endblock content %}