{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}
    <div class='container password-form-box'>
        <p class='password-form-title'>You've made it!</p>
        <p class='password-form-subtitle'>Now that you have a brand new password, log back in and go get some stuff done fo God sake! </p>
    
        <div class='login-btn'>
            <a class='btn btn-lg btn-dark login-btn-text' href='{% url 'accounts:login' %}' type="submit">Let's Go</a>            
        </div>
    </div>
{% endblock content %}