{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

    <div class='container signup-box'>
        <div class='container signup-text'>
        </div>
        <form method="post">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
        <div class='container signup-btn'>
            <button class='btn btn-lg btn-dark signup-btn-text' type="submit">Sign up</button>
        </div>
        </form>
    </div>

{% endblock content %}