<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "accounts/css/main.css" %}">
    <style>

    </style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;500;900&family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <title>Flowcus</title>
</head>

<body>
    
    <nav class="navbar navbar-expand">
        <a class="navbar-brand front-logo" href="{% url 'home' %}">
            <img src="{% static 'accounts/img/flowcus.png' %}" width="120" height="40" alt="Flowcus logo">
        </a>
                    
        <div class="navbar-nav ml-auto pr-4 navpadding">
            {% if user.is_authenticated %}

                <div class="dropdown">
                    <button class="btn btn-lg btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>                    
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item disabled" href="{% url 'home' %}">Help</a>
                        <a class="dropdown-item disabled" href="{% url 'home' %}">Settings</a>
                        <a class="dropdown-item disabled" href="{% url 'home' %}">Report a problem</a>
                        <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>                        
                    <div class="dropdown-divider"></div>

                        <a class="dropdown-item logout-btn" href="{% url 'accounts:logout' %}">
                        <img class='logout-img' src='{% static 'accounts/img/logout.png' %}' alt="logout">
                        Log out
                        </a>
                        <a class="dropdown-item disabled dropdown-email" href="{% url 'home' %}"> {{ user.email }} </a>                        

                    </div>
                </div>

            {% else %}
                <a class="btn btn-outline-dark btn-lg align-right right-menu-btn" href="{% url 'accounts:login' %}">Login</a>
<!--                <a class="nav-item nav-link align-right" href="{% url 'accounts:signup' %}">Signup</a>            
-->         {% endif %}

        </div>
    </nav>



{% block content %}
{% endblock content %}

</body>
</html>