{% extends 'base.html' %}
{% load static %}
 

{% block content %}

<div class='container'>
    
    
    {% if request.user.is_authenticated %}
        <h1 class=''>homepage</h1>

        <button type="submit" id='delete-btn'>delete</button>
        <button type="submit" id='add-btn'>add</button>


    {{ user.username }}
    
    
<!-- HOME VISITOR -->    
    {% else %}
        <div class="container front-box">
            <div class='container no-gutters row justify-content-lg-center front-title-box'>
                <p class='front-bold-title text-xl-right col-xl-5'>Overwhelmed?</p> 
                <p class='front-light-title text-xl-left col-xl-5'>We can help you.</p>
            </div>
            <div class='container front-subtitle'>
                <p>The truth is that to-do list is old technology. We believe it deserves better, so we redesigned it. A simpler way to get shit done. Give it a shot.</p>
            </div>
            <div>
                <a class='btn btn-lg btn-danger front-signup' href="{% url 'accounts:signup' %}">Sign up</a>
            </div>
            <div>
                <p class='front-login'>Already have an account? <a class='front-login-link' href="{% url 'accounts:login' %}">Login</a></p>
            </div> 
        </div>
    {% endif %}     
</div>


{% endblock content %}